.depoimentos .container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 15rem;
  position: relative;
}

@media screen and (max-width: 475px) {
  .depoimentos .container {
    display: inline-block;
    margin: auto;
  }
}
