.informacoes__sobre {
  display: grid;
  grid-gap: 2px;
  text-align: left;
  width: 30%;
  color: hsl(300, 43%, 22%);
}

.informacoes__sobre___titulo {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: bold 800;
}

.informacoes__sobre___descricao {
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 1em;
}

@media screen and (max-width: 475px) {
  .informacoes__sobre {
    display: block;
    width: 100%;
    margin: auto;
  }
  .informacoes__sobre___titulo,
  .informacoes__sobre___descricao {
    padding: 1rem;
    text-align: center;
  }
}
